
:root {
    --cor-fundo-escuro: #0a0a10;
    --cor-card-fundo: #1a1a2e;
    --cor-rinnegan-roxo: #7e57c2;
    --cor-sharingan-vermelho: #e53935;
    --cor-chidori-azul: #00bfff;
    --cor-texto: #e0e0e0;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: var(--cor-texto);
    margin: 0;
    
    background: radial-gradient(circle at top left, var(--cor-rinnegan-roxo), var(--cor-fundo-escuro) 40%);
    background-size: 200% 200%;
    animation: animacaoFundoChakra 20s ease-in-out infinite;

    min-height: 100vh;
    
  
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0; 
}


#portfolio-container {
    max-width: 960px;
    width: 90%;
    background-color: rgba(10, 10, 16, 0.7);
    backdrop-filter: blur(10px);
    border: 1px solid var(--cor-rinnegan-roxo);
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 0 40px rgba(126, 87, 194, 0.4); 
}


header, section, footer {
    padding: 25px 0; 
    border-bottom: 1px solid var(--cor-rinnegan-roxo);
    margin-bottom: 20px;
}


section:last-of-type, footer {
    border-bottom: none;
}


header {
    text-align: center;
}

h1, h2 {
    color: var(--cor-rinnegan-roxo); 
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    color: var(--cor-chidori-azul); 
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: var(--cor-sharingan-vermelho); 
    text-decoration: none; 
}



@keyframes animacaoFundoChakra {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}


section {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

section.visible {
    opacity: 1;
    transform: translateY(0);
}


@media (max-width: 768px) {
    #portfolio-container {
        margin: 20px auto;
        width: 95%;
    }

    h1 {
        font-size: 2em;
    }
}


#sobre-mim img {
    width: 150px; 
    height: 150px; 
    border-radius: 50%; 
    border: 3px solid var(--cor-rinnegan-roxo); 
    object-fit: cover; 
    margin-top: 20px; 
    box-shadow: 0 0 15px var(--cor-rinnegan-roxo); 
}




h1 {
    color: var(--cor-rinnegan-roxo);
    font-family: 'Source Code Pro', monospace; 
    overflow: hidden; 
    border-right: .15em solid var(--cor-chidori-azul); 
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: .15em;
    animation: 
        typing 3.5s steps(11, end), 
        blink-caret .75s step-end infinite; 
}


@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}


@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: var(--cor-chidori-azul); }
}


h1.typing-done {
    animation: none;
    

    border-right-color: transparent;
}
